div.header {background-color: red;
    color: white;
    text-align: center;
    text-transform: capitalize;
}
div,a {margin-top: 22px;
}
a:hover {text-decoration: none;
color: re;
border: 1px solid;
padding: 9px;
margin: 8px;
border-radius: 10px;
}
a{
    text-decoration:none;
    color: red;
    border: 1px solid;
    padding: 9px;
    margin: 8px;
    border-radius: 10px;

}
div.footer p{
    color: white;
    text-align: center;
    padding: 8px;
    background-color: red;
}